<div class="sidebar d-flex flex-column p-3 text-white">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-mortarboard-fill me-2 fs-2"></i>
        <span class="fs-4 fw-bold">E-Learning</span>
    </a>
    <hr>
    
    <ul class="nav nav-pills flex-column mb-auto" id="sidebar-menu">

        <li class="nav-item mb-2">
            <a href="/dashboard" class="nav-link text-white"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a>
        </li>
        <li class="mb-2">
            <a href="/" class="nav-link text-white"><i class="bi bi-people me-2"></i> Gerenciar Alunos</a>
        </li>
        <li class="mb-2">
            <a href="/GerenciarInstrutores" class="nav-link text-white"><i class="bi bi-people me-2"></i> Gerenciar Instrutores</a>
        </li>
        <li class="mb-2">
            <a href="/GerenciarCursos" class="nav-link text-white"><i class="bi bi-book me-2"></i> Cursos</a>
        </li>
        <li class="mb-2">
            <a href="#" class="nav-link text-white"><i class="bi bi-gear me-2"></i> Configurações</a>
        </li>
    </ul>
    <hr>
    <div class="small text-muted text-center">v1.0.0</div>
</div>
